# Dependencies
node_modules
.pnpm-store

# Build output
dist
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# Coverage
coverage

# Caches
.eslintcache

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea
